.Playlist {
    grid-column: 2;
    /* Place it in the second column */
    background-color: rgba(75, 51, 75, 0.8);
    padding: 20px;
    overflow-y: auto;
    height: calc(100vh - 100px);
    border-radius: 15px;
    margin-right: 40px;
}

.Playlist ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.Playlist li {
    padding: 10px;
    border-top: 1px solid #9E7A9E;
    /* Contrast color for border */
    border-bottom: 1px solid #9E7A9E;
}

.Playlist input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.complete-button {
    background-color: #1db954;
    color: white;
    padding: 20px 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    width: auto;
    font-size: 1.5rem;
    font-weight: bold;
}

.complete-button:hover {
    background-color: #126b31;
}

.playlist-track {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.playlist-track img {
    width: 60px;
    height: 60px;
    margin-right: 20px;
    border-radius: 4px;
}

.track-name-large {
    font-size: 1.5em;
    font-weight: bold;
}

.track-artist-medium {
    font-size: 1.2em;
}

.playlist-track-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: calc(100% - 120px);
}