* {
    font-family: 'Arial', sans-serif;
}

.content {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equally wide columns */
    gap: 20px;  /* Adds a gap between the items */
    padding: 20px;
    width: 100%;
}

.App {
    text-align: center;
}

.App-header {
    background-color: #735C88;
}

.App-logo {
    height: 6rem;
}

body {
    background-color: #885C87;
}

